# General UID/GID and Timezone
TZ=America/Los_Angeles
PUID=1000
PGID=1000

# Gluetun keys
VPN_SERVICE_PROVIDER=protonvpn
OPENVPN_USER=##USER##
OPENVPN_PASSWORD=##PASSWORD##
OPENVPN_CUSTOM_CONFIG=##Filelocation##

# Nginx Proxy Manager
ADMIN_EMAIL=##USER##
ADMIN_PASSWORD=##PASSWORD##

# Health check duration
HEALTH_VPN_DURATION_INITIAL=120s

# Static IPs for services on servarrnetwork
IP_GLUETUN=172.39.0.2
IP_SONARR=172.39.0.3
IP_RADARR=172.39.0.4
IP_LIDARR=172.39.0.5
IP_BAZARR=172.39.0.6
IP_SEERR=172.39.0.7
IP_NPM=172.39.0.8
